:root {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.2rem;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(34, 34, 34);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Onest", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding-block: 2em;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 13px;
  }
}
.btn {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1em 2em;
  color: rgb(253, 253, 253);
  background-color: rgb(7, 111, 114);
  border: none;
  border-radius: 3px;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  background: #044042;
}

.section-heading {
  margin-bottom: 2rem;
}
.section-heading > span {
  display: inline-block;
  color: rgb(242, 190, 34);
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0.5em;
}

.nav {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  display: grid;
  place-content: center;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  background-color: rgba(177, 179, 179, 0.95);
}
.nav__list {
  margin-bottom: 2em;
}
.nav__link {
  color: rgb(253, 253, 253);
  padding: 1rem 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 3px rgb(135, 135, 135);
  transition: all 300ms ease-in-out;
}
.nav__link:hover {
  color: rgb(242, 190, 34);
}

.fixed-nav {
  position: fixed;
  z-index: 100;
  background-color: rgba(177, 179, 179, 0.95);
}

.fixed-nav .nav-links {
  height: auto !important;
}

.toggle-menu {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.toggle-icon {
  display: block;
  background-color: rgb(253, 253, 253);
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  margin: 10px 0;
}
.toggle-icon::after, .toggle-icon::before {
  display: block;
  content: "";
  position: absolute;
  background-color: rgb(253, 253, 253);
  height: 3px;
  width: 2em;
  border-radius: 2px;
}
.toggle-icon::before {
  bottom: 13px;
}
.toggle-icon::after {
  top: 13px;
}

.top-link {
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  background: url(../assets/icons/top-link-icon.png) center, rgba(196, 196, 196, 0.5);
  transition: all 300ms ease-in-out;
  animation: pulse-top-link 2000ms ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.top-link:hover {
  background-color: rgba(177, 179, 179, 0.95);
}

.show-top-link {
  visibility: visible;
  z-index: 100;
}

@keyframes pulse-top-link {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.hero {
  height: 100vh;
  background-image: url(../assets/images/hero-img.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -100;
}
.hero__title {
  color: rgb(253, 253, 253);
  padding-top: 40vh;
  margin-bottom: 1em;
}
.hero__btn {
  color: rgb(34, 34, 34);
  background-color: rgb(253, 253, 253);
  margin-bottom: 3em;
}
.hero__btn:hover {
  color: rgb(253, 253, 253);
}

.search__block {
  display: none;
}

.about-us__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-us__images {
  position: relative;
  order: 2;
}
.about-us__images > img {
  border-radius: 10px;
  margin: 0 auto;
}
.about-us__images > img:last-of-type {
  display: none;
}
.about-us__images > .play-btn {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url(../assets/icons/play-btn.png);
  background-position: center;
  background-repeat: no-repeat;
}
.about-us__text {
  order: 1;
}
.about-us__btn {
  margin-block: 2em;
  text-align: center;
}

.video {
  display: none;
}
.video__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.offers {
  background-color: rgb(237, 237, 237);
}
.offers__pluses {
  margin-block: 2em;
}
.offers__plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}
.offers__plus > .plus-img {
  flex-shrink: 0;
}
.offers__btn {
  margin-bottom: 2em;
  text-align: center;
}
.offers__images {
  display: none;
}

.popular-tours__btn {
  text-align: center;
}

.carousel__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
.carousel__btns {
  margin-block: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel__dots {
  text-align: center;
  margin-block: 1em;
}
.carousel__dots > * + * {
  margin-left: 5vw;
}

.dot {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: rgb(135, 135, 135);
  border-radius: 50%;
  opacity: 0.4;
}

.card {
  flex: 0 0 100%;
  position: relative;
  width: 380px;
  color: rgb(253, 253, 253);
  border-radius: 10px;
  z-index: -1;
}
.card__img {
  width: 100%;
  border-radius: 30px;
}
.card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(196, 196, 196, 0.5);
  padding: 1em;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card__subtext {
  display: none;
}
.card__price {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(247, 247, 247, 0.5);
  padding: 0.2em 0.7em;
}

.blog {
  background-color: rgb(237, 237, 237);
}
.blog__posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  overflow: hidden;
}
.blog__btn {
  text-align: center;
}

.post {
  flex: 0 0 100%;
  margin-bottom: 2em;
}
.post__img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.post__info {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 1em;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(253, 253, 253);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.post__title {
  margin-bottom: 1em;
}
.post__text {
  line-height: 1.4;
}
.post__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.post__date {
  color: rgb(242, 190, 34);
}
.post__link {
  color: rgb(34, 34, 34);
}
.post__btn {
  transition: all 300ms ease-in-out;
}
.post__btn::after {
  content: "";
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/arrow-next.png);
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.5em;
  visibility: hidden;
}
.post__btn:hover::after {
  visibility: visible;
  display: inline-block;
}
.post__btn:hover {
  padding-left: 1em;
  padding-right: 3em;
}

.gallery__images {
  display: grid;
  place-content: center;
  min-height: 300px;
  margin-bottom: 1em;
}
.gallery__btn {
  text-align: center;
}
.gallery__btn > button {
  width: 150px;
  margin: 0 auto;
}
.gallery__btn > .btn-stop {
  display: none;
}

.subscribe {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(237, 237, 237);
  margin-block: 3em;
}
.subscribe__block {
  margin-block: 1em;
}
.subscribe__input {
  width: 90%;
  max-width: 400px;
  background-color: rgb(237, 237, 237);
  padding: 0.9em;
  margin-bottom: 1em;
}
.subscribe__form > span {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}
.subscribe__form > span > a {
  color: rgb(34, 34, 34);
  text-decoration: underline;
}

.footer {
  font-size: 1rem;
  color: rgb(253, 253, 253);
  background-color: rgb(7, 111, 114);
  padding-block: 2em;
}
.footer * h3 {
  margin-bottom: 1em;
}
.footer__info {
  margin-bottom: 1em;
}
.footer__info > p {
  margin-bottom: 2em;
}
.footer__info > a {
  margin-right: 2em;
  text-decoration: underline;
}
.footer__social-links {
  margin-block: 2em;
}
.footer__social-links > a + a {
  margin-left: 1em;
}
.footer__links-services, .footer__links-topicks {
  margin-bottom: 1em;
}
.footer__links-services * a, .footer__links-topicks * a {
  padding-block: 0.4em;
  transition: all 200ms ease-in-out;
}
.footer__links-services * a:hover, .footer__links-topicks * a:hover {
  color: rgb(242, 190, 34);
}