:root {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.2rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(34, 34, 34);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding-block: 2em;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 13px;
  }
}
.btn {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1em 2em;
  color: rgb(253, 253, 253);
  background-color: rgb(7, 111, 114);
  border: none;
  border-radius: 3px;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  background: #044042;
}

.section-heading {
  margin-bottom: 2rem;
}
.section-heading > span {
  display: inline-block;
  color: rgb(242, 190, 34);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  margin-bottom: 0.5em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navigation {
  height: 15vh;
}
.navigation__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.navigation__list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 80vh;
  padding-block: 2em;
  background-color: black;
  z-index: 1000;
}
.navigation__link {
  color: rgb(253, 253, 253);
  height: 10vh;
  padding-block: 0.5em;
  line-height: 1;
  transition: all 200ms ease-in-out;
}
.navigation__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 0.5em;
  margin-left: 1em;
  background-image: url(../assets/icons/arrow-white.png);
}
.navigation__link:hover {
  color: rgb(242, 190, 34);
}
.navigation__link:hover::before {
  background-image: url(/assets/icons/arrow-color.png);
}
.navigation__btn {
  margin-top: 1em;
  margin-left: 1em;
}

.show-links {
  display: block;
}

.toggle-menu {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.toggle-icon {
  display: block;
  background-color: rgb(253, 253, 253);
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  margin: 10px 0;
}
.toggle-icon::after, .toggle-icon::before {
  display: block;
  content: "";
  position: absolute;
  background-color: rgb(253, 253, 253);
  height: 3px;
  width: 2em;
  border-radius: 2px;
}
.toggle-icon::before {
  bottom: 13px;
}
.toggle-icon::after {
  top: 13px;
}

.hero {
  height: 100vh;
  background-image: url(../assets/images/hero-img.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -100;
}
.hero__title {
  color: rgb(253, 253, 253);
  padding-top: 40vh;
  margin-bottom: 1em;
}
.hero__btn {
  color: rgb(34, 34, 34);
  background-color: rgb(253, 253, 253);
  margin-bottom: 3em;
}
.hero__btn:hover {
  color: rgb(253, 253, 253);
}

.search__block {
  display: none;
}

.about-us {
  background-color: transparent;
}
.about-us__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-us__images {
  order: 2;
}
.about-us__images > img:last-of-type {
  display: none;
}
.about-us__video {
  position: relative;
  z-index: -1;
}
.about-us__video::after {
  content: "";
  display: block;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background: url(../assets/icons/play-btn.png) center;
  background-repeat: no-repeat;
  z-index: 10;
}
.about-us__text {
  order: 1;
}
.about-us__btn {
  margin-block: 2em;
  text-align: center;
}

.offers {
  background-color: rgb(237, 237, 237);
}
.offers__pluses {
  margin-block: 2em;
}
.offers__plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}
.offers__plus > .plus-img {
  flex-shrink: 0;
}
.offers__btn {
  margin-bottom: 2em;
  text-align: center;
}
.offers__images {
  display: none;
}

.popular-tours__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.popular-tours__btn {
  text-align: center;
}

.card {
  position: relative;
  width: 90%;
  color: rgb(253, 253, 253);
  border-radius: 10px;
  z-index: -1;
}
.card__img {
  width: 100%;
  border-radius: 30px;
}
.card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(196, 196, 196, 0.5);
  padding: 1em;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card__subtext {
  display: none;
}
.card__price {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(247, 247, 247, 0.5);
  padding: 0.2em 0.7em;
}

.blog {
  background-color: rgb(237, 237, 237);
}
.blog__posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog__btn {
  text-align: center;
}

.post {
  flex-basis: 90%;
  margin-bottom: 2em;
}
.post__img > img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.post__info {
  padding: 1em;
  background-color: rgb(253, 253, 253);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.post__title {
  margin-bottom: 1em;
}
.post__text {
  line-height: 1.4;
}
.post__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.post__date {
  color: rgb(242, 190, 34);
}
.post__link {
  color: rgb(34, 34, 34);
}

.gallery__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.gallery__img {
  width: 100%;
  height: 340px;
  background-image: url(../assets/images/gallery-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.gallery__btn-slider {
  text-align: center;
  margin-bottom: 1em;
}
.gallery__btn-slider > button {
  cursor: pointer;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  opacity: 0.4;
}
.gallery__btn-slider > button:hover {
  opacity: 1;
}
.gallery__btn {
  text-align: center;
}

.subscribe {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(237, 237, 237);
  margin-block: 3em;
}
.subscribe__block {
  margin-block: 1em;
}
.subscribe__input {
  width: 90%;
  max-width: 400px;
  background-color: rgb(237, 237, 237);
  padding: 0.9em;
  margin-bottom: 1em;
}
.subscribe__form > span {
  display: inline-block;
  font-size: 1rem;
}
.subscribe__form > span > a {
  color: rgb(34, 34, 34);
  text-decoration: underline;
}

.footer {
  font-size: 1rem;
  color: rgb(253, 253, 253);
  background-color: rgb(7, 111, 114);
  padding-block: 2em;
  position: relative;
  z-index: -10;
}
.footer * h3 {
  margin-bottom: 1em;
}
.footer__info {
  margin-bottom: 1em;
}
.footer__info > p {
  margin-bottom: 2em;
}
.footer__info > a {
  margin-right: 2em;
  text-decoration: underline;
}
.footer__social-links {
  margin-block: 2em;
}
.footer__social-links > a + a {
  margin-left: 1em;
}
.footer__links-services, .footer__links-topicks {
  margin-bottom: 1em;
}
.footer__links-services * a, .footer__links-topicks * a {
  padding-block: 0.4em;
  position: relative;
  z-index: -1;
  transition: all 200ms ease-in-out;
}
.footer__links-services * a::before, .footer__links-topicks * a::before {
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  vertical-align: middle;
  transform: scale(0.6);
  background-image: url(../assets/icons/arrow-white.png);
  position: relative;
  z-index: 0;
}
.footer__links-services * a:hover, .footer__links-topicks * a:hover {
  color: rgb(242, 190, 34);
}
.footer__links-services * a:hover::before, .footer__links-topicks * a:hover::before {
  background-image: url(../assets/icons/arrow-color.png);
}