.about-us {
    background-color: $clr-white;

    &__content {
        @include flex(column);
    }

    &__images {
        order: 2;

        & > img:last-of-type {
            display: none;
        }
    }

    &__video {
        position: relative;
        
        &::after {
            content: "";
            display: block;
            cursor: pointer;
            position: absolute;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
            width: 50px;
            height: 50px;
            background: url(./../assets/icons/play-btn.png) center;
            background-repeat: no-repeat;
            z-index: 10;
        }
    }

    &__text {
        order: 1;
    }
    
    &__btn {
        margin-block: 2em;
        text-align: center;
    }
}