.blog {
    background-color: $clr-gray-light;

    &__posts {
        @include flex(row);
        align-items: stretch;
        overflow: hidden;
    }

    &__btn {
        text-align: center;
    }
}

.post {
    flex: 0 0 100%;
    margin-bottom: 2em;

    &__img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    &__info {
        height: 250px;
        @include flex(column, center, space-between);
        padding: 1em;
        font-family: $ff-italic;
        background-color: $clr-white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__title {
        margin-bottom: 1em;
    }

    &__text {
        line-height: 1.4;
    }

    &__footer {
        @include flex(row);
        margin-top: auto;
    }

    &__date {
        color: $clr-primary;
    }

    &__link {
        color: $clr-black;
    }

    &__btn {
        @include transition(300ms);
        z-index: 0;

        &::after {
            content: '';
            display: none;
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../../assets/icons/arrow-next.png);
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-left: 0.5em;
            visibility: hidden;
            
        }

        &:hover::after {
            visibility: visible;
            display: inline-block;
        }

        &:hover {
            padding-left: 1em;
            padding-right: 3em;
        }
    }

}