.footer {
    font-size: $fs-subtext;
    color: $clr-white;
    background-color: $clr-secondary;
    padding-block: 2em;

    & * h3 {
        margin-bottom: 1em;
    }

    &__info {
        margin-bottom: 1em;

        & > p {
            margin-bottom: 2em;
        }

        & > a {
            margin-right: 2em;
            text-decoration: underline;
        }
    }

    &__social-links {
        margin-block: 2em;

        & > a + a {
            margin-left: 1em;
        }
    }

    &__links-services,
    &__links-topicks {
        margin-bottom: 1em;

        & * a {
            padding-block: 0.4em;
            @include transition(200ms);

            &::before {
                display: inline-block;
                content: "";
                width: 26px;
                height: 26px;
                vertical-align: middle;
                transform: scale(0.6);
                background-image: url(../assets/icons/arrow-white.png);
            }

            &:hover {
                color: $clr-primary;

                &::before {
                    background-image: url(../assets/icons/arrow-color.png);
                }
            }
        }
    }
}