.gallery {


    &__block {
        @include flex(row);
        margin-bottom: 1em;
    }

    &__img {
        width: 100%;
        height: 340px;
        background-image: url(../assets/images/gallery-01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    &__btn-slider {
        text-align: center;
        margin-bottom: 1em;

        & > button {
            cursor: pointer;
            border-radius: 50%;
            @include transition(300ms);
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__btn {
        text-align: center;
    }
}