header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation {
    height: 15vh;

    &__header {
        @include flex(row);
        height: inherit;
    }

    &__list {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        min-height: 80vh;
        padding-block: 2em;
        background-color: black;
        z-index: 1000;
    }

    &__link {
        color: $clr-white;
        height: 10vh;
        padding-block: 0.5em;
        line-height: 1;
        @include transition(200ms);

        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 26px;
            height: 26px;
            margin-right: 0.5em;
            margin-left: 1em;
            background-image: url(../assets/icons/arrow-white.png);
        }

        &:hover {
            color: $clr-primary;

            &::before {
                background-image: url(/assets/icons/arrow-color.png);
            }
        }
    }

    &__btn {
        margin-top: 1em;
        margin-left: 1em;
    }
}

// use for js, showing navigation links
.show-links {
    display: block;
}

.toggle-menu {
    cursor: pointer;
    @include transition(300ms);
}

.toggle-icon {
    display: block;
    background-color: $clr-white;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    margin: 10px 0;

    &::after,
    &::before {
        display: block;
        content: '';
        position: absolute;
        background-color: $clr-white;
        height: 3px;
        width: 2em;
        border-radius: 2px;
    }

    &::before {
        bottom: 13px;
    }

    &::after {
        top: 13px;
    }
}