header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation {
    height: 15vh;

    &__header {
        @include flex(row);
        height: inherit;
    }

    &__list {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        height: 80vh;
    }

    &__link {
        color: $clr-white;
        padding-left: 3em;
        padding-block: 1em;
        position: relative;
        @include transition(200ms);

        &::before {
            content: "";
            position: absolute;
            top: 1em;
            left: 1em;
            display: block;
            width: 30px;
            height: 30px;
            background-image: url(./../assets/icons/arrow.png);
            background-repeat: no-repeat;
        }

        &:hover {
            color: $clr-primary;

            &::before {
                background-image: url(./../assets/icons/arrow-hover.png);
            }
        }
    }

    &__btn {
        margin-top: 1em;
        margin-left: 1em;
    }
}

// use for js, showing navigation links
.show-links {
    display: block;
}

.toggle-menu {
    cursor: pointer;
    @include transition(300ms);
}

.toggle-icon {
    display: block;
    background-color: $clr-white;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    margin: 10px 0;

    &::after,
    &::before {
        display: block;
        content: '';
        position: absolute;
        background-color: $clr-white;
        height: 3px;
        width: 2em;
        border-radius: 2px;
    }

    &::before {
        bottom: 13px;
    }

    &::after {
        top: 13px;
    }
}