.popular-tours {

    &__btn {
        text-align: center;
    }
}

.carousel {

    &__cards {
        @include flex(row);
        overflow-x: hidden;
    }

    &__dots {
        text-align: center;
        margin-block: 1em;

        &>*+* {
            margin-left: 5vw;
        }
    }
}

.dot {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: $clr-gray;
    border-radius: 50%;
    opacity: 0.4;
}

.card {
    flex: 0 0 100%;
    position: relative;
    color: $clr-white;
    border-radius: 10px;
    z-index: -1;
    margin: 0 auto;

    &__img {
        width: 100%;
        border-radius: 30px;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $clr-transperent-light;
        padding: 1em;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &__subtext {
        display: none;
    }

    &__price {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        background-color: lighten($clr-transperent-light, 20%);
        padding: 0.2em 0.7em;
    }
}