.popular-tours {

    &__cards {
        @include flex(row);
        gap: 1em;
        margin-bottom: 2em;
    }

    &__btn {
        text-align: center;
    }
}

.card {
    flex: 0 0 90%;
    position: relative;
    max-width: 380px;
    color: $clr-white;
    border-radius: 10px;
    z-index: -1;

    &__img {
        width: 100%;
        border-radius: 30px;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $clr-transperent-light;
        padding: 1em;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &__subtext {
        display: none;
    }

    &__price {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        background-color: lighten($clr-transperent-light, 20%);
        padding: 0.2em 0.7em;
    }
}