:root {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  body {
    font-size: $fs-text;
    font-family: $ff-text;
    font-weight: $fw-regular;
    line-height: 1.6;
    color: $clr-black;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5 {
    font-family: $ff-text;
    font-weight: $fw-bold;
    line-height: 1.1;
    margin-bottom: 0.3rem;
  }

  h1 {
    font-size: $fs-h1;
  }

  h2 {
    font-size: $fs-h2;
  }

  h3 {
    font-size: $fs-h3;
  }

  h4 {
    font-size: $fs-h4;
  }
  
  ul, li {
    list-style: none;
  }
  
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  input {
    all: unset;
  }
  
  .container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }

  section {
    padding-block: 3em;
  }