$clr-primary: rgba(242, 190, 34, 1);
$clr-secondary: rgba(7, 111, 114, 1);
$clr-black: rgba(34, 34, 34, 1);
$clr-gray: rgba(135, 135, 135, 1);
$clr-gray-light: rgba(237, 237, 237, 1);
$clr-white: rgba(253, 253, 253, 1);
$clr-purple: rgba(109, 19, 132, 1);
$clr-purple-dark: rgb(58, 19, 98);

$clr-transperent: rgba(177, 179, 179, 0.95);
$clr-transperent-light: rgba(196, 196, 196, 0.5);