
$ff-text: 'Onest', sans-serif;
$ff-italic: 'Roboto Condensed', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;

$fs-text: 1.2rem;
$fs-subtext: 1rem;
$fs-h1: 2.5rem;
$fs-h2: 2rem;
$fs-h3: 1.5rem;
$fs-h4: 1.3rem;

