// font-family: 'Archivo', sans-serif;

// font-family: 'Yanone Kaffeesatz', sans-serif;

$ff-text: 'Archivo', sans-serif;
$ff-subtext: 'Yanone Kaffeesatz', sans-serif;

$fs-text: 1.2rem;
$fs-subtext: 0.8rem;
$fs-h1: 2.5rem;
$fs-h2: 2rem;
$fs-h3: 1.8rem;
$fs-h4: 1.5rem;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;



